<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>Вход</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <a th:href="@{/persons}" sec:authorize="hasRole('USER')">Люди</a>
        <a th:href="@{/cities}" sec:authorize="hasRole('MANAGER')">Города</a>
        <a th:href="@{/houses}" sec:authorize="hasRole('ADMIN')">Дома</a>
        <span style="float: right">
          <a th:href="@{/register}" sec:authorize="isAnonymous()"
            >Регистрация</a
          >
          <a th:href="@{/login}" sec:authorize="isAnonymous()">Войти</a>
          <span sec:authorize="isAuthenticated()">
            <span th:text="${#authentication?.name}"></span>
            &nbsp;|&nbsp;
            <a th:href="@{/logout}">Выйти</a>
          </span>
        </span>
      </div>

      <h1>Вход</h1>
      <div th:if="${error}" class="alert error" th:text="${error}"></div>
      <div th:if="${message}" class="alert success" th:text="${message}"></div>
      <form th:action="@{/login}" method="post">
        <label>Имя пользователя</label>
        <input type="text" name="username" />
        <label>Пароль</label>
        <input type="password" name="password" />
        <button type="submit">Войти</button>
      </form>
      <p sec:authorize="isAnonymous()">
        Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a>
      </p>
    </div>
  </body>
</html>
