<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>Регистрация</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <a th:href="@{/persons}" sec:authorize="hasRole('USER')">Люди</a>
        <a th:href="@{/cities}" sec:authorize="hasRole('MANAGER')">Города</a>
        <a th:href="@{/houses}" sec:authorize="hasRole('ADMIN')">Дома</a>
        <span style="float: right">
          <a th:href="@{/register}" sec:authorize="isAnonymous()"
            >Регистрация</a
          >
          <a th:href="@{/login}" sec:authorize="isAnonymous()">Войти</a>
          <span sec:authorize="isAuthenticated()">
            <span th:text="${#authentication?.name}"></span>
            &nbsp;|&nbsp;
            <a th:href="@{/logout}">Выйти</a>
          </span>
        </span>
      </div>

      <h1>Регистрация</h1>
      <div
        th:if="${registrationError}"
        class="alert error"
        th:text="${registrationError}"
      ></div>
      <form
        th:action="@{/register}"
        th:object="${registrationForm}"
        method="post"
      >
        <label>Имя пользователя</label>
        <input type="text" th:field="*{username}" />
        <label>Email</label>
        <input type="email" th:field="*{email}" />
        <label>Пароль</label>
        <input type="password" th:field="*{password}" />
        <label>Повторите пароль</label>
        <input type="password" th:field="*{confirmPassword}" />
        <button type="submit">Зарегистрироваться</button>
      </form>
      <p sec:authorize="isAnonymous()">
        Уже есть аккаунт? <a th:href="@{/login}">Войти</a>
      </p>
    </div>
  </body>
</html>
